.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.register__logo {
  height: 38px;
  width: 38px;
}
.register__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 396px; */
}
.register__title {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0px;
}
.register__input {
  margin-bottom: 24px;
}
.register__buttom {
  margin-top: 128px;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: rgba(66, 133, 244, 1);
  color: rgba(255, 255, 255, 1);
  border: 0px;
  padding: 13px 125px 15px 125px;
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.register__text {
  text-align: center;
  margin-top: 16px;
  color: rgba(139, 139, 139, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.register__link {
  color: rgba(66, 133, 244, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  margin-left: 6px;
}
.register__link:hover {
  opacity: 70%;
  cursor: pointer;
}
.register__label {
  margin-bottom: 5px;
  color: rgba(139, 139, 139, 1);
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.register__input {
  background-color: inherit;
  border: 0px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  padding: 0px 0px 10px;
}
@media screen and (max-width: 800px) {
  .register {
    padding-top: 232px;
  }
}
@media screen and (max-width: 440px) {
  .register {
    padding-top: 56px;
  }
  .register__block {
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .register__title {
    margin-bottom: 30px;
  }
  .register__buttom {
    margin-top: 216px;
    font-size: 12px;
    line-height: 15px;
    padding: 15px 68px;
  }
  .register__text {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
  .register__link {
    font-size: 12px;
    line-height: 15px;
    margin-left: 7px;
  }
}
