.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 39, 39, 1);
}
.nav-tab__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px 0 24px;
  color: white;
  max-width: 1280px;
}
.nav-tab__link {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
}

.nav-tab__link:hover {
  opacity: 70%;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .nav-tab {
    gap: 24px;
  }
  .nav-tab__link {
    font-size: 11px;
  }
}
